<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main class="main-add-item">
		<h2 class="titulo">¡Agrega un nuevo producto!</h2>
		<form action="/products/add-item" class="formulario" method="POST" enctype="multipart/form-data">
			<div class="input-field">
				<label for="name">Producto:</label>
				<input
					class="text-box <%= locals.errors && errors.name ? 'is-invalid' : null %>"
					type="text"
					name="name"
					id="name"
					placeholder="Nombre del producto"
					minlength="2"
					value="<%= locals.oldData && oldData.name ? oldData.name : null %>"
				/>
				<% if (locals.errors && errors.name) { %>
					<span class="error"><%= errors.name.msg %> </span>
					<% } else if(locals.errors){ %>
						<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
					<% } else {%>
						<span class="error" style="color: inherit;"></span>
						<% } %>
			</div>
			<div class="select-field input-field<%= locals.errors && errors.category ? 'is-invalid' : null %>">
				<label for="category">Selecciona la categoría:</label>
				<select name="category" class="control" placeholder="Seleccione la categoria" id="category">
					<option value="frutas">Frutas</option>
					<option value="hortalizas">Hortalizas</option>
					<option value="verduras">Verduras</option>
					<option value="granos">Granos</option>
					<option value="semillas">Semillas</option>
				</select>
			</div>
			<div class="input-field">
				<label for="imagefile">Adjunta la imagen del producto: </label>
				<input class="text-box" type="file" name="image" id="imagefile" required />
			</div>
			
			<div class="input-field">
				<label for="unidad">Precio por unidad:</label>
				<input class="text-box <%= locals.errors && errors.unidad ? 'is-invalid' : null %>" type="number" name="unit" id="unidad" placeholder="Precio en pesos" min="0" />
				<% if (locals.errors && errors.unidad) { %>
					<span class="error"><%= errors.unidad.msg %> </span>
					<% } else if(locals.errors){ %>
						<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
					<% } else {%>
						<span class="error" style="color: inherit;"></span>
						<% } %>
				<label for="kilo">Precio por kilogramo:</label>
				<input class="text-box <%= locals.errors && errors.kilo ? 'is-invalid' : null %>" type="number" name="kilo" id="kilo" placeholder="Precio en pesos" min="0" />
				<% if (locals.errors && errors.kilo) { %>
					<span class="error"><%= errors.kilo.msg %> </span>
					<% } else if(locals.errors){ %>
						<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
					<% } else {%>
						<span class="error" style="color: inherit;"></span>
						<% } %>
			</div>
			<div class="select-field input-field <%= locals.errors && errors.discount ? 'is-invalid' : null %>">
				<label for="discount">Selecciona un descuento:</label>
				<select name="discount" class="control" placeholder="Seleccione descuento" id="discount">
					<% for( let i = 0; i < 50; i += 5 ) { %>
						<option value="<%= i %> "><%= i %> %</option>
					<% } %>
				</select>
			</div>
			<div class="select-field input-field <%= locals.errors && errors.market ? 'is-invalid' : null %>">
				<label for="market">Selecciona Mercado campesino:</label>
				<select name="market" class="control" id="market">
					<option value="Carlos E Restrepo">Carlos E Restrepo</option>
					<option value="Poblado">Poblado</option>
					<option value="Ciudad del Río">Ciudad del Río</option>
				</select>
			</div>
			<button type="submit" class="submit">Agregar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
