<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main class="detail-main">
		<% if (product ) { %>
			<article class="article-cards">
				<section class="supplier">
					<span class="spans promotion">Promoción</span>
					
					<div class="image-product">
						<img
							src="/images/<%= product.image %>"
							alt="ilustración del <%= product.name %>"
						/>
					</div>
					<div class="supplier-info">
						<% if (product.seller != undefined) { %>
							<div class="image-supplier">
								<img
									src="/images/users/<%= product.seller.photo %> "
									alt="vendedor <%= product.seller.user_name %> "
								/>
							</div>
							<h5 class="supplier-name"><%= product.seller.user_name %> </h5>
						<% } else { %>
							<div class="image-supplier">
								<img
									src="/images/users/default.jpg"
									alt="Parece que no hay un vendedor asignado"
								/>
							</div>
							<h5 class="supplier-name"> Sin vendedor asignado :/ </h5>
							<% } %> 
					</div>
					<span class="spans category"><%= product.category.name %> </span>
				</section>
				<section class="item-info">
					<h3 class="product-name"><%= product.name %></h3>
					<span class="spans off"><%= product.discount %> % descuento</span>
					<form action="POST" class="buy">
						<h4>Opciones de compra</h4>
						<% if (product.wayToSell == 0) { %>
							<div class="optionAdds">
								<div>
									<div class="radio1">
										<input
											type="radio"
											name="pay-way"
											id="bulk"
											value="bulk"
											checked
										/>
										<label for="bulk">Kilo</label>
									</div>
									<p class="precioBulk">$ <%= product.kilo %></p>
								</div>
							</div>
						<% } else if(product.wayToSell == 1) { %>
							<div class="optionAdds">
								<div>
									<div class="radio2">
										<input
											type="radio"
											name="pay-way"
											id="unit"
											value="unit"
											checked
										/>
										<label for="unit">Unidad</label>
									</div>
									<p class="precioUnit">$ <%= product.unit %></p>
								</div>
							</div>
						<% } else { %>
							<div class="optionAdds">
								<div>
									<div class="radio1">
										<input
											type="radio"
											name="pay-way"
											id="bulk"
											value="bulk"
										/>
										<label for="bulk">Kilo</label>
									</div>
									<p class="precioBulk">$ <%= product.kilo %></p>
								</div>
								<div>
									<div class="radio2">
										<input
											type="radio"
											name="pay-way"
											id="unit"
											value="unit"
										/>
										<label for="unit">Unidad</label>
									</div>
									<p class="precioUnit">$ <%= product.unit %></p>
								</div>
							</div>
						<% } %>
						<input
							type="number"
							name="how-much"
							id="how-much"
							min="0"
							value="0"
							accept="numbers"
						/>
						<button type="submit">
							Agregar <i class="fas fa-shopping-basket"></i>
						</button>
					</form>
				</section>
			</article>
			<% } else { %>
				<h2>
					Parece que no has elegido un producto, quisieras echar un vistazo a uno de estos.
				</h2>
			<% } %> 
		<div class="products-space">
			<h2>También podría interesarte</h2>
			<div class="product-row">
				<%- include('../partials/groupOfProducts') %> 
			</div>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>
