<%- include('../partials/head') %>
	<script src="../../js/add-edit-item.js" defer></script>
<body>
	<%- include('../partials/header') %>
	<main class="main-add-item">
		<form
			action="/products/edit-item/<%= product.id %>?_method=PUT"
			class="formulario"
			method="POST"
			enctype="multipart/form-data"
		>
		<h2 class="titulo">Edita este producto</h2>
			<div class="input-container">
				<input
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.name === undefined ? 'correct' : 'incorrect' : ''%> "
					type="text"
					name="name"
					id="name"
					placeholder="Nombre del producto"
					minlength="2"
					required
					<% if (locals.oldData && oldData.name && (locals.errors.name === undefined)) { %>
						value="<%= oldData.name %>"
					<% } else { %>
						value="<%= product.name %>"
					<% } %> 
				/>
				<label class="<%= locals.errors && errors.name ? 'checked' : 'disabled' %>" for="name">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%= locals.errors && errors.name === undefined ? 'checked' : 'disabled' %>" for="name">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.name ? 'error' : 'disabled' %>"><%= locals.errors && errors.name ? errors.name.msg : '' %></span>
				<span class="disabled"></span>
			</div>

			<div class="input-container ">

				<select 
					name="category"
					class=" <%= locals.errors !== undefined ? locals.errors && errors.category === undefined ? 'correct' : 'incorrect' : ''%> "
					placeholder="Seleccione la categoria" 
					id="category"
					>
					<option value="">Elige una categoría</option>
					<% categories.forEach(category => { %>
						<% if (locals.product.category.name == category.name) { %>
						<% } else if (locals.oldData && oldData.category && locals.errors.category === undefined) { %>
							<option value="<%= category.id %>" selected>
								<%= category.name %>
							</option>
						<% } else { %> 
							<option value="<%= category.id %>">
								<%= category.name %>
							</option>
						<% } %> 
					<% }) %>
						<option value="<%= product.category.id %>" selected>
							<%= product.category.name %> 
						</option>
				</select>
				<label class="<%= locals.errors && errors.category ? 'checked' : 'disabled' %>" for="category">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%=locals.errors && errors.category === undefined ? 'checked' : 'disabled' %>" for="category">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.category ? 'error' : 'disabled' %>"><%= locals.errors && errors.category ? errors.category.msg : '' %></span>
				<span class="disabled"></span>
			</div>

			<div class="input-container ">
				<input 
					class="text-box file-field" 
					type="file" 
					name="image" 
					id="image"
					value="<%= locals.product.photo %>"
					/>
				<label 
					for="image" 
					class="text-box label-file <%= locals.errors !== undefined ? locals.errors && errors.image === undefined ? 'correct' : 'incorrect' : ''%> " 
					>
						<i class="far fa-image"></i> Imagen del producto 
				</label>
				<label class="<%= locals.errors && errors.image ? 'checked' : 'disabled' %>" for="image">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%=locals.errors && errors.image === undefined ? 'checked' : 'disabled' %>" for="image">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.image ? 'error' : 'disabled' %>"><%= locals.errors && errors.image ? errors.image.msg : '' %></span>
				<span class="disabled"></span>			
			</div>

			<div class="input-container">
				<label for="unit">Selecciona un precio por Unidad</label>
				<input 
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.unit === undefined ? 'correct' : 'incorrect' : ''%> " 
					type="number" 
					name="unit" 
					id="unit" 
					placeholder="Precio en pesos" 
					min="0" 
					<% if (locals.oldData && oldData.unit && (locals.errors.unit === undefined)) { %>
						value="<%= oldData.unit %>"
					<% } else { %>
						value="<%= product.unit %>"" 
					<% } %> 
					/>
				<label class="<%= locals.errors && errors.unit ? 'checked' : 'disabled' %>" for="unit">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%= locals.errors && errors.unit === undefined ? 'checked' : 'disabled' %>" for="unit">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.unit ? 'error' : 'disabled' %>"><%= locals.errors && errors.unit ? errors.unit.msg : '' %></span>
				<span class="disabled"></span>
			</div>
			
			<div class="input-container">
				<label for="kilo">Selecciona un precio por Kilo</label>
				<input 
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.kilo === undefined ? 'correct' : 'incorrect' : ''%> " 
					type="number" 
					name="kilo" 
					placeholder="Precio en pesos" 
					id="kilo" 
					min="0" 
					<% if (locals.oldData && oldData.kilo && (locals.errors.kilo === undefined)) { %>
						value="<%= oldData.kilo %>"
					<% } else { %>
						value="<%= product.kilo %>"" 
					<% } %> 
				/>
				<label class="<%= locals.errors && errors.kilo ? 'checked' : 'disabled' %>" for="kilo">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%= locals.errors && errors.kilo === undefined ? 'checked' : 'disabled' %>" for="kilo">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.kilo ? 'error' : 'disabled' %>"><%= locals.errors && errors.kilo ? errors.kilo.msg : '' %></span>
				<span class="disabled"></span>
			</div>
			
			<div class="input-container">
				<select 
					name="discount" 
					class=" <%= locals.errors !== undefined ? locals.errors && errors.discount === undefined ? 'correct' : 'incorrect' : ''%> " 
					id="discount"
					>
					<option value="">Elige que tanto deseas descontar el precio de tu producto</option>
					<% let j = 0; %> 
					<% for( let i = 0; i < 50; i += 5 ) { %>
						<% if (locals.product.discount == i && j < 1) { %>
							<% j++ %> 
						<% } else if (locals.oldData && oldData.discount && (locals.errors.discount === undefined)) { %>
							<option value="<%= i %>" selected>
								<%= i %> %
							</option>
						<% } else { %>
							<option value="<%= i %>"><%= i %> %</option>
						<% } %>
					<% } %>
					<option value="<%= product.discount %>" selected>
						<%= product.discount %>  %
					</option>
				</select>
				<label class="<%= locals.errors && errors.discount ? 'checked' : 'disabled' %>" for="discount">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%=locals.errors && errors.discount === undefined ? 'checked' : 'disabled' %>" for="discount">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.discount ? 'error' : 'disabled' %>"><%= locals.errors && errors.discount ? errors.discount.msg : '' %></span>
				<span class="disabled"></span>
			</div>
			
			<div class="input-container <%= locals.errors && errors.market ? 'is-invalid' : null %>">
				<select 
					name="market" 
					class=" <%= locals.errors !== undefined ? locals.errors && errors.market === undefined ? 'correct' : 'incorrect' : ''%> "
					id="market"
					>
					<option value="">Elige el mercado donde deseas ofrecer tu producto</option>
					<% markets.forEach(market => { %>
						<% if (locals.product.market.name == market.name) { %>
						<% } else if (locals.oldData && oldData.market && locals.errors.market === undefined) { %>
							<option value="<%= market.id %>" selected>
								<%= market.name %>
							</option>
						<% } else { %>
							<option value="<%= market.id %>">
								<%= market.name %>
							</option>
						<% } %> 
					<% }) %>
					<option value="<%= product.market.id %>" selected>
							<%= product.market.name %> 
					</option>
				</select>
				<label class="<%= locals.errors && errors.market ? 'checked' : 'disabled' %>" for="market">
					<i class="fas fa-times" style="color: #cc0000"></i>
				</label>
				<label class="<%=locals.errors && errors.market === undefined ? 'checked' : 'disabled' %>" for="market">
					<i class="fas fa-check" style="color: #5fab70"></i>
				</label>
				<span class="<%= locals.errors && errors.market ? 'error' : 'disabled' %>"><%= locals.errors && errors.market ? errors.market.msg : '' %></span>
				<span class="disabled"></span>
			</div>
			<button type="submit" class="submit">Agregar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
