<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main class="main-add-item">
		<h2 class="titulo">Edita este producto</h2>
		<!-- <div class="image-product">
			<img
				src="/images/<%= product.image %>"
				alt="ilustración del <%= product.name %>"
			/>
		</div> -->
		<form
		action="/products/edit-item/<%= product.id %>?_method=PUT"
		class="formulario"
		method="POST"
		enctype="multipart/form-data"
		>
			<div class="input-field">
				<label>Producto:</label>
				<input
					class="text-box"
					type="text"
					name="name"
					id="name"
					placeholder="Nombre del producto"
					minlength="2"
					value= <%= product.name %>
					required
				/>
			</div>
			<div class="select-field input-field">
				<label>Selecciona la categoría:</label>
				<select
					name="category"
					class="control"
					placeholder="Seleccione la categoria"
				>
					<option value="frutas">Frutas</option>
					<option value="hortalizas">Hortalizas</option>
					<option value="plantas">Plantas</option>
					<option value="granos">Granos</option>
					<option value="semillas">Semillas</option>
				</select>
			</div>
			<div class="input-field">
				<label>Adjunta la imagen del producto: </label>
				<input
					class="text-box"
					type="file"
					name="imagefile"
					id="imagefile"
					placeholder="Adjuntar imagen"
				/>
			</div>

			<h4>Opciones de compra</h4>
			<div class="input-field">
				<label>Precio kilo:</label>
				<input
					class="text-box"
					type="number"
					name="kilo"
					id="price"
					placeholder="Precio en pesos"
					value= <%= product.price.kilo%>
					required
				/>
			</div>
			<div class="input-field">
				<label>Precio unidad:</label>
				<input
					class="text-box"
					type="number"
					name="unidad"
					id="price"
					placeholder="Precio en pesos"
					value= <%= product.price.unidad%>
					required
				/>
			</div>
			<div class="select-field input-field">
				<label>Selecciona un descuento:</label>
				<select
					name="discount"
					class="control"
					id="discount"
					placeholder="Seleccione descuento"
				>
					<option value="0">0%</option>
					<option value="0.05">5%</option>
					<option value="0.1">10%</option>
					<option value="0.15">15%</option>
					<option value="0.2">20%</option>
					<option value="0.25">25%</option>
					<option value="0.3">30%</option>
					<option value="0.35">35%</option>
				</select>
			</div>
			<div class="select-field input-field">
				<label>Selecciona Mercado campesino:</label>
				<select
					name="ubicacion"
					class="control"
					id="market"
					placeholder="Seleccione descuento"
				>
					<option value="Carlos E Restrepo">Carlos E Restrepo</option>
					<option value="Poblado">Poblado</option>
					<option value="Ciudad del Río">Ciudad del Río</option>
				</select>
			</div>
			<button type="submit" class="submit">Actualizar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
