<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main class="main-add-item">
		<h2 class="titulo">Edita este producto</h2>
		<!-- <div class="image-product">
			<img
				src="/images/<%= product.image %>"
				alt="ilustración del <%= product.name %>"
			/>
		</div> -->
		<form
		action="/products/edit-item/<%= product.id %>?_method=PUT"
		class="formulario"
		method="POST"
		enctype="multipart/form-data"
		>
			<div class="input-field">
				<label>Producto:</label>
				<input
					class="text-box"
					type="text"
					name="name"
					id="name"
					placeholder="Nombre del producto"
					minlength="2"
					value= <%= product.name %>
					required
				/>
			</div>
			<div class="select-field input-field">
				<label>Selecciona la categoría:</label>
				<select
					name="category"
					class="control"
					placeholder="Seleccione la categoria"
				>
					<option value="1">Frutas</option>
					<option value="2">Hortalizas</option>
					<option value="3">Plantas</option>
					<option value="4">Granos</option>
					<option value="5">Semillas</option>
				</select>
			</div>
			<div class="input-field">
				<label>Adjunta la imagen del producto: </label>
				<input
					class="text-box"
					type="file"
					name="image"
					id="imagefile"
					placeholder="Adjuntar imagen"
				/>
			</div>

			<h4>Opciones de compra</h4>
			<div class="input-field">
				<label>Precio kilo:</label>
				<input
					class="text-box"
					type="number"
					name="kilo"
					id="price"
					placeholder="Precio en pesos"
					value= <%= product.kilo%>
					required
				/>
			</div>
			<div class="input-field">
				<label>Precio unidad:</label>
				<input
					class="text-box"
					type="number"
					name="unit"
					id="price"
					placeholder="Precio en pesos"
					value= <%= product.unit%>
					required
				/>
			</div>
			<div class="select-field input-field">
				<label>Selecciona un descuento:</label>
				<select name="discount" class="control" placeholder="Seleccione descuento" id="discount">
					<% for( let i = 0; i < 50; i += 5 ) { %>
						<option value="<%= i %> "><%= i %> %</option>
					<% } %>
				</select>
			</div>
			<div class="select-field input-field">
				<label>Selecciona Mercado campesino:</label>
				<select
					name="market"
					class="control"
					id="market"
				>
					<option value="1">Carlos E Restrepo</option>
					<option value="2">Poblado</option>
					<option value="3">Ciudad del Río</option>
				</select>
			</div>
			<button type="submit" class="submit">Actualizar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
