<%- include('../partials/head') %>
<body>
	<%- include('../partials/headerSeller') %>
	<main>
		<h2>Editar y agregar productos</h2>
		<div class="main-create-edit">
			<div class="table-add-product">
				<a href="/products/add-item"><i class="fas fa-plus"></i> Agregar nuevo producto</a>
			</div>
			<div class="table-create-edit-products">
				<table class="edit-item-table">
					<thead>
						<tr>
							<th class="thead-id">ID</th>
							<th>Producto</th>
							<th>Vista previa</th>
							<th>Editar</th>
							<th class="thead-delete">Borrar</th>
						</tr>
					</thead>
					<tbody class="items-list">
						<% if (locals.products) { %> <% products.forEach(product => { %>
						<tr>
							<td><%= product.id %></td>
							<td><%= product.name %></td>
							<td>
								<a href="/products/detail/<%= product.id %>"><i class="far fa-eye"></i></a>
							</td>
							<td>
								<a href="/products/edit-item/<%= product.id %>"><i class="fas fa-pen"></i></a>
							</td>
							<td>
								<form action="/products/delete/<%= product.id %>/?method=DELETE" method="POST">
									<button>
										<i class="far fa-trash-alt"></i>
									</button>
								</form>
							</td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>
