<%- include('../partials/head') %> 
<%- include('../partials/header') %> 

<ul>
    <% results.forEach(product => { %>
        <li>
            <div class='card'>
                <div class='left'>
                    <img src="/images/<%= product.image %>" alt="Imagen del/l@s <%= product.name %>">
                </div>
                <div class='center'>
                    <h2><%= product.name %></h2>
                    <p><% if (product.wayToSell == 0) { %>
                        <%= product.kilo %> 
                    <% } %></p>
                </div>
                <div class='right'>
                    
                </div>
            </div>
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') %> 