<header class="main-header">	
	<div class="content">
		<div class="no-desktop">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
            <div class="logo">
                    <a href="/"></a>
                    <img src="/images/logolocalmarket.png" alt="Logo LocalMarket" />
            </div>
            
            <div class="site-search">
                <form class="search-bar">
                    <input class="q" type="search" name="q" placeholder="Busqueda..." />
                    <button class="search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <% if (locals.sellerLogged) { %>
                <div class="profile">
                    <div class="top">
                        <a href="/users/seller"></a>
                        <img src="/images/users/<%= locals.userLogged.photo %>">
                        <h4><%= locals.userLogged.name %></h4>
                    </div>
                    <div class="bottom">
                        <a href="/users/logout">Cerrar sesión</a>
                    </div>
                </div>
            <% } else if(locals.customerLogged) { %> 
                 <div class="profile">
                    <div class="top">
                        <a href="/users/customer"></a>
                        <img src="/images/users/<%= locals.userLogged.photo %>">
                        <h4>locals.userLogged.name</h4>
                    </div>
                    <div class="bottom">
                        <a href="/users/logout">Cerrar sesión</a>
                    </div>
                </div>
            <% } else { %>
                <div class="basket">
                    <i class="fas fa-shopping-basket"></i>
                </div>
            <% } %> 
        </div>
        
        <div class="desktop">
            <div class="left">
                <a href="/"></a>
                <img src="/images/logolocalmarket.png" alt="Logo LocalMarket" />
                <h2>Local Market</h2>
            </div>

            <div class="center-left">
                <div class="site-search">
                    <form class="search-bar">
                        <input class="q" type="search" name="q" placeholder="Busqueda..." />
                        <button class="search">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
    
                <nav class="nav-bar">
                    <ul class="options">
                        <li class="option">
                            <a href="/"></a>
                            Inicio
                        </li>
                        <% if (locals.isLogged && locals.customerLogged) { %>
                            <li class="option">
                                <a href="/users/customer"></a>
                                Mi perfil
                            </li>
                            <li class="option">
                                <a href="/products/catalog"></a>
                                Productos
                            </li>
                        <% } else if(locals.isLogged && locals.sellerLogged) { %>
                            <li class="option">
                                <a href="/users/seller"></a>
                                Mi perfil
                            </li>
                            <li class="option">
                                <a href="/products/list"></a>
                                Mis Productos
                            </li>
                        <% } else { %>
                            <li class="option">
                                <a href="/products/catalog"></a>
                                Productos
                            </li>
                            <li class="option">
                                <a href="/"></a>
                                Agricultores
                            </li>
                            <li class="option">
                                <a href="/"></a>
                                Encuéntranos
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

            <% if (!locals.sellerLogged) { %>
                <a href="/products/shopping-cart" class="center-right">
                    <i class="fas fa-shopping-basket"></i>
                </a>
            <% } %> 

            <div class="right">
                <% if (locals.isLogged) { %>
                        <a class="login" href="#" id="dropUser" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/images/users/<%= locals.userLogged.photo %> " width="40" style="border-radius: 100%;">
                            <%= locals.userLogged.name %>
                        </a>
                        <a class="login" href="/users/logout">Cerrar sesión</a>
                <% } else { %>
                    <a href="/users/sign-in-customer" class="sign-in">Regístrate <i class="fas fa-sign-in-alt"></i></a>
                    <a href="/users/login" class="login">Loguéate <i class="far fa-id-card"></i></a>
                <% } %>
            </div>
        </div>
	</div>
</header>
