<header class="main-header">	
	<div class="content">
		<div class="no-desktop">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
            <div class="logo">
                    <a href="/"></a>
                    <img src="/images/logolocalmarket.png" alt="Logo LocalMarket" />
            </div>
            
            <div class="site-search">
                <form class="search-bar" method="get" action="/products/search">
                    <input class="q" type="search" name="q" placeholder="Busqueda..." />
                    <button class="search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <% if (locals.sellerLogged) { %>
                <div class="profile">
                    <div class="top">
                        <a href="/users/seller"></a>
                        <img src="/images/users/<%= locals.userLogged.photo %>">
                        <h4><%= locals.userLogged.name %></h4>
                    </div>
                    <div class="bottom">
                        <a href="/users/logout">Cerrar sesión</a>
                    </div>
                </div>
            <% } else if(locals.customerLogged) { %> 
                 <div class="profile">
                    <div class="top">
                        <a href="/users/customer"></a>
                        <img src="/images/users/<%= locals.userLogged.photo %>">
                        <h4><%= locals.userLogged.name%></h4>
                    </div>
                    <div class="bottom">
                        <a href="/users/logout">Cerrar sesión</a>
                    </div>
                </div>
            <% } else { %>
                <div class="basket">
                    <i class="fas fa-shopping-basket"></i>
                </div>
            <% } %> 
        </div>
        
        <div class="desktop">
            <div class="left">
                <a href="/"></a>
                <img src="/images/logolocalmarket.png" alt="Logo LocalMarket" />
                <h2>Local Market</h2>
            </div>

            <div class="center-left">
                <div class="site-search">
                    <form class="search-bar" method="get" action="/products/search" >
                        <input class="q" type="search" name="q" placeholder="Busqueda..." />
                        <button class="search">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
    
                <nav class="nav-bar">
                    <ul class="options">
                        <li class="option">
                            <a href="/"></a>
                            <div>
                                Inicio
                            </div>
                        </li>
                        <% if (locals.isLogged && locals.customerLogged) { %>
                            <li class="option">
                                <a href="/users/customer"></a>
                                <div>
                                    Mi perfil
                                </div>
                            </li>
                            <li class="option">
                                <a href="/products/catalog"></a>
                                <div>
                                    Productos
                                </div>
                            </li>
                        <% } else if(locals.isLogged && locals.sellerLogged) { %>
                            <li class="option">
                                <a href="/users/seller"></a>
                                <div>
                                    Mi perfil
                                </div>
                            </li>
                            <li class="option">
                                <a href="/products/list"></a>
                                <div>
                                    Mis Productos
                                </div>
                            </li>
                        <% } else { %>
                            <li class="option">
                                <a href="/products/catalog"></a>
                                <div>
                                    Productos
                                </div>
                            </li>
                            <li class="option">
                                <a href="/"></a>
                                <div>
                                    Agricultores
                                </div>
                            </li>
                            <li class="option">
                                <a href="/"></a>
                                <div>
                                    Encuéntranos
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

            <% if (!locals.sellerLogged) { %>
                <div class="center-right">
                    <a href="/products/shopping-cart"></a>
                    <div class="ico">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                </div>
            <% } %> 

            <div class="right">
                <% if (locals.sellerLogged) { %>
                    <div class="profile">
                        <div class="top">
                            <a href="/users/seller"></a>
                            <img src="/images/users/<%= locals.userLogged.photo %>">
                            <h4><%= locals.userLogged.name %></h4>
                        </div>
                        <div class="bottom">
                            <a href="/users/logout"></a>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </div>
                <% } else if(locals.customerLogged) { %> 
                    <div class="profile">
                        <div class="top">
                            <a href="/users/customer"></a>
                            <img src="/images/users/<%= locals.userLogged.photo %>">
                        <h4><%= locals.userLogged.name%></h4>
                        </div>
                        <div class="bottom">
                            <a href="/users/logout"></a>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </div>
                <% } else { %>
                    <div class="camp">
                        <a href="/users/sign-in-customer"></a>
                        <div>
                            Regístrate 
                        </div>
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div class="camp">
                        <a href="/users/login"></a>
                        <div>
                            Ingresa
                        </div>
                        <i class="far fa-id-card"></i>
                    </div>
                <% } %>
            </div>
        </div>
	</div>
</header>
