<%- include('../partials/head') %>

<body>
	<%- include('../partials/header') %>
	<main class="profile-seller-main">
		<div class="profile-seller-left">
			<img src="/images/users/<%= locals.userLogged.photo %>" alt="" />
			<p>LocalMarket: Conectando campesinos con sus vecinos</p>
		</div>
		<div class="profile-seller-right">
			<h2>
				Hola <%= userLogged.names + ' ' + userLogged.surname %>, <br />
				¿Qué quieres hacer hoy?
			</h2>
			<div>
				<a href="../users/edit-customer/<%= userLogged.id %>"> <i class="fas fa-user-edit"></i> Editar mi perfil </a>
			</div>
			<div>
				<a href="#"> <i class="far fa-edit"></i> Ir a mi carrito</a>
			</div>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>
