<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main class="signin-main">
		<h2 class="titulo">¡Edita tus datos!</h2>
		<form action="/users/edit-customer<%= user.id %>?_method=PUT" method="post" class="formulario" enctype="multipart/form-data">
			<div class="input-container">
				<input
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.names === undefined ? 'correct' : 'incorrect' : ''%> "
					type="text"
					name="names"
					id="names"
					placeholder="Nombres completos"
					minlength="2"
					required
					value="<%= user.names %>"
				/>
				<% if (locals.errors && errors.names) { %>
					<label class="checked" for="names">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="names">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
				<% } %>  
			</div>
			<% if (locals.errors && errors.names) { %>
				<span class="error"><%= errors.names.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<div class="input-container">
				<input
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.surname === undefined ? 'correct' : 'incorrect' : ''%>"
					type="text"
					name="surname"
					id="surname"
					placeholder="Apellidos completos"
					minlength="2"
					value="<%= user.surname %>"
					required
				/>
				<% if (locals.errors && errors.surname) { %>
					<label class="checked" for="surname">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="surname">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
				<% } %>  
			</div>
			<% if (locals.errors && errors.surname) { %>
				<span class="error"><%= errors.surname.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<input class="text-box file-field" type="file" name="photo" id="photo" />
			<label for="photo" class="text-box label-file"><i class="far fa-user-circle"></i> Sube una foto para tu perfil</label>
			<% if (locals.errors && errors.photo) { %>
				<span class="error"><%= errors.photo.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<div class="input-container">
				<input
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.phone === undefined ? 'correct' : 'incorrect' : ''%>"
					type="tel"
					name="phone"
					id="phone"
					placeholder="Número de celular"
					minlength="9"
					value="<%= user.phone %>"
				/>
				<% if (locals.errors && errors.phone) { %>
					<label class="checked" for="phone">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="phone">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
					<% } %>  
				</div>
			<% if (locals.errors && errors.phone) { %>
				<span class="error"><%= errors.phone.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<div class="input-container">
				<input 
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.email === undefined ? 'correct' : 'incorrect' : ''%>" 
					type="email" 
					name="email" 
					id="email" 
					placeholder="Correo electrónico" 
					value="<%= user.email %>"
					required
					/>
				<% if (locals.errors && errors.email) { %>
					<label class="checked" for="email">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="email">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
					<% } %>  
			</div>
			<% if (locals.errors && errors.email) { %>
				<span class="error"><%= errors.email.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<div class="input-container">
				<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.password === undefined ? 'correct' : 'incorrect' : ''%>"
				type="password"
				name="password"
				id="password"
				placeholder="Contraseña"
				minlength="10"
				required
			/>
				<% if (locals.errors && errors.password) { %>
					<label class="checked" for="password">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="password">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
				<% } %>  
			</div>
			<% if (locals.errors && errors.password) { %>
				<span class="error"><%= errors.password.msg %> </span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
			<% } %>
			<div class="input-container">
				<input
					class="text-box <%= locals.errors !== undefined ? locals.errors && errors.password_confirm === undefined ? 'correct' : 'incorrect' : ''%>"
					type="password"
					name="password_confirm"
					id="password_confirm"
					placeholder="Confirma tu contraseña"
					minlength="10"
					required
				/>
				<% if (locals.errors && errors.password_confirm) { %>
					<label class="checked" for="password_confirm">
						<i class="fas fa-times" style="color: #cc0000"></i>
					</label>
				<% } else if(locals.errors){ %>
					<label class="checked" for="password_confirm">
						<i class="fas fa-check" style="color: #5fab70"></i>
					</label>
				<% } else {%>
				<% } %>  
			</div>
				<% if (locals.errors && errors.password_confirm) { %>
					<span class="error"><%= errors.password_confirm.msg %> </span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
				<% } %>
			<button type="submit" class="submit">Actualizar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
