<%- include('../partials/head') %>
<body>
	<%- include('../partials/headerSeller') %>
	<main class="signin-main">
		<h2 class="titulo">Registra tu cuenta como vendedor</h2>
		<form action="/users/sign-in-seller" method="post" class="formulario" enctype="multipart/form-data">
			<input
				class="text-box  <%= locals.errors !== undefined ? locals.errors && errors.user_name === undefined ? 'correct' : 'incorrect' : ''%>"
				type="text"
				name="user_name"
				id="user_name"
				placeholder="Razón social (tienda/finca/familia)"
				minlength="2"
				required
				<% if (locals.old && old.user_name) { %>
					value="<%= old.user_name %>"
				<% } %>
			/>
			<% if (locals.errors && errors.user_name) { %>
				<span class="error"><%= errors.user_name.msg %> </span>
			<% } else if(locals.errors){ %>
				<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
				<% } %> 
			<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.name === undefined ? 'correct' : 'incorrect' : ''%> "
				type="text"
				name="name"
				id="name"
				placeholder="Nombres completos"
				minlength="2"
				required
				<% if (locals.old && old.name && (locals.errors.name === undefined)) { %>
					value="<%= old.name %>"
				<% } %>
			/>
			<% if (locals.errors && errors.name) { %>
				<span class="error"><%= errors.name.msg %> </span>
			<% } else if(locals.errors){ %>
				<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
			<% } else {%>
				<span class="error" style="color: inherit;"></span>
				<% } %>  
			<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.surname === undefined ? 'correct' : 'incorrect' : ''%>"
				type="text"
				name="surname"
				id="surname"
				placeholder="Apellidos completos"
				minlength="2"
				required
				<% if (locals.old && old.surname && (locals.errors.surname === undefined)) { %>
					value="<%= old.surname %>"
				<% } %>
			/>
			<% if (locals.errors && errors.surname) { %>
				<span class="error"><%= errors.surname.msg %> </span>
				<% } else if(locals.errors){ %>
					<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
					<% } %>  
			<input class="text-box file-field" type="file" name="profile_photo" id="profile_photo" />
			<label for="profile_photo" class="text-box label-file"
				><i class="far fa-user-circle"></i> Sube una foto para tu perfil</label
			>
			<span class="error" style="color: inherit;"></span>
			<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.phone === undefined ? 'correct' : 'incorrect' : ''%>"
				type="tel"
				name="phone"
				id="phone"
				placeholder="Número de celular"
				minlength="9"
				required
				<% if (locals.old && old.phone && (locals.errors.phone === undefined)) { %>
					value="<%= old.phone %>"
				<% } %>
			/>
			<% if (locals.errors && errors.phone) { %>
				<span class="error"><%= errors.phone.msg %> </span>
				<% } else if(locals.errors){ %>
					<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
					<% } %>  
			<input class="text-box <%= locals.errors !== undefined ? locals.errors && errors.email === undefined ? 'correct' : 'incorrect' : ''%>" type="email" name="email" id="email" placeholder="Correo electrónico" required
			<% if (locals.old && old.email && (locals.errors.email === undefined)) { %>
				value="<%= old.email %>"
			<% } %> />
			<% if (locals.errors && errors.email) { %>
				<span class="error"><%= errors.email.msg %> </span>
				<% } else if(locals.errors){ %>
					<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
					<% } %>  
			<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.pass === undefined ? 'correct' : 'incorrect' : ''%>"
				type="password"
				name="pass"
				id="pass"
				placeholder="Contraseña"
				minlength="10"
				required
			/>
			<% if (locals.errors && errors.pass) { %>
				<span class="error"><%= errors.pass.msg %> </span>
				<% } else if(locals.errors){ %>
					<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
					<% } %>  
			<input
				class="text-box <%= locals.errors !== undefined ? locals.errors && errors.pass_confirm === undefined ? 'correct' : 'incorrect' : ''%>"
				type="password"
				name="pass_confirm"
				id="pass"
				placeholder="Confirma tu contraseña"
				minlength="10"
				required
			/>
			<% if (locals.errors && errors.pass_confirm) { %>
				<span class="error"><%= errors.pass_confirm.msg %> </span>
				<% } else if(locals.errors){ %>
					<span class="error" style="color: rgba(87, 133, 108, 0.5)">Listop <i class="far fa-check-circle"></i></span>
				<% } else {%>
					<span class="error" style="color: inherit;"></span>
					<% } %> 
			<div class="check">
				<input class="slides" type="checkbox" name="agree_terms_conditions" id="agree_terms_conditions" <%= locals.old !== undefined && old.agree_terms_conditions !== undefined ? "checked" : '' %>/>
				<label for="agree_terms_conditions">Acepto los terminos y condiciones de uso</label>
			</div>
			<div class="check">
				<input class="slides" type="checkbox" name="agree_data" id="agree_data" <%= locals.old !== undefined && old.agree_data !== undefined ? "checked" : '' %>/>
				<label for="agree_data">Acepto las politicas de tratamientos de datos</label>
			</div>
			<button type="submit" class="submit">Registrarse</button>
			<a href="/users/sign-in-customer"> Registrarse como comprador </a>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
